.dev-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.dev-card {
  background: white;
  text-align: center;
  width: 80%;
  margin-bottom: 10%;
}

.dev-image {
  width: 350px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}
