.boxes-main-container {
  padding: 20px 50px;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 10px;
}

.boxes {
  padding: 16px 10px;
  border: 1.5px solid rgba(2, 6, 12, 0.1);
  border-radius: 12px;
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  box-sizing: border-box;
}


@media (max-width: 1199px) {
  .boxes-main-container {
    padding: 15px 30px;
  }
  .boxes {
    width: 31%; 
    padding: 14px 10px;
  }
}

@media (max-width: 767px) {
  .boxes-main-container {
    padding: 10px 15px;
  }
  .boxes {
    width: 48%; 
    padding: 12px 8px;
  }
}

@media (max-width: 480px) {
  .boxes {
    width: 100%; 
    padding: 10px 8px;
  }
}
